<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @my_thread.title %>
</p>

<%= link_to 'Edit', edit_my_thread_path(@my_thread.id) %> |
<%= link_to 'Back', my_threads_path %>

<div class="responses">
  <ul>
    <%= @my_thread.responses.each do |response| %>
    <li>
      <%= response.content %>
      <%= response.id %>
      <%= link_to "Edit", edit_my_thread_response_path([@my_thread, response]), class: "btn" %>
      <%= link_to "Delete", my_thread_response_path([@my_thread, response]), method: :delete, data: {confirm: "Are you sure?"}, class: "btn" %>
    </li>
    <% end %>
  </ul>
</div>

<div class="make-response">
  <%= form_for([@my_thread, @response]) do |f| %>
    <%= f.text_field :content %>
    <%= f.submit "投稿" %>
  <% end %>
</div>
